html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.ip {
	border: 3px solid #000;
	border-radius: 15px;
	width: 35%;
	text-align: center;
	font-size: 1.75em;
	background: #999;
	margin: 2% auto;
	border-spacing: 5px;
}

.ip-bg {
	background: yellow;
}

.ip b {
	margin: 0;
}

.calc {
	margin: 0 auto;
	width: 35%;
	text-align: center;
}

.calc button {
	margin: 10px;
}

button {
    background-color: #555555;
    border: 3px solid #000000;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #e7e7e7;
    color: black;
}